<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <style>
            .line-chart-container{
                height: 225px;
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
            }
            .line-chart{
                height: 200px;
                width: 100%;
            }
            .x-axis,
            .y-axis path,
            .y-axis line {
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <h1 id="field-type-declaration">Pending Claims</h1>
                </div>
                <div id="me" class="span10">
                    <!--Body content-->

                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/d3min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/colorbrewer.js"></script>
        <script src="js/raphael.js"></script>
        <script src="js/chartz.js"></script>
        <script src="js/app/va-data.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://raw.github.com/DmitryBaranovskiy/g.raphael/master/min/g.line-min.js"></script>
        <script>
            $(document).ready(function(){
                var fieldType = {
                    'name': 'Pending Claims',
                    'slug': 'pending-claim'
                };
                var lct = _.template($("#line-chart-template").html());
                var options = {
                    'fieldType': 'pending-claims',
                    'resourceUri': 'http://glowing-sunset-5928.herokuapp.com/api/pending-claim/'
                };
                var cityOptions = {
                    'resourceUri': 'http://glowing-sunset-5928.herokuapp.com/api/city/'
                }
                var graphOptions = {
                    key: function(entry){return new Date(entry.get("report_date"));},
                    value: function(entry){return entry.get('pending_claims');},
                    strokeColor: 'white',
                    fillOpacity: .05,
                    radius: 0,
                    bottom: 30 
                };
                var getAxis = function(container, dim){
                    var yscale = d3.scale.linear()
                        .domain([dim.minY, dim.maxY])
                        .range([dim.height + dim.top, dim.bottom]);
                    var xscale = d3.scale.linear()
                        .domain([dim.minX, dim.maxX])
                        .range([dim.left + 40, dim.width - 40])
                    var yOpts = {
                        'text': '',
                    };
                    cir.chartz.utils.getYAxis(d3.select($(container).children()[0]), yscale, yOpts);
                    var xaxis = cir.chartz.utils.getXAxis(d3.select($(container).children()[0]), xscale, $(container).height() - dim.bottom);

                };
                var cities = new VaDataCollection([], cityOptions);
                var foundCitiesCb = function(){
                    var id = 0;
                    _.each(cities.models, function(city){
                        var pendingClaimsCollection = new VaDataCollection([], options);
                        var drawCharts = function(){
                            var divId = "line-chart-" + id++;
                            var templateData = {
                                'cityName': city.get('name'),
                                'divId': divId
                            };
                            var htmlInsert = lct(templateData);
                            $("#me").append(htmlInsert);
                            var chart = cir.chartz.lineChart("#"+divId, pendingClaimsCollection.models, graphOptions);
                            getAxis("#"+divId, chart.dimensions);
                        };
                        var opts = {
                            'city__slug': city.get("slug"),
                            'limit': 100
                        };
                        pendingClaimsCollection.fetch({success: drawCharts, data:opts});
                    });
                };
                cities.fetch({success: foundCitiesCb, data:{}});
            });
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <script type="text/template" id="line-chart-template">
            <div class="line-chart-container">
                <h1><%= cityName %></h1>
                <div id="<%= divId %>" class="line-chart"></div>
            </div>
        </script>
    </body>
</html>
