<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <style>
            .line-chart-container{
                height: 225px;
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
            }
            .line-chart{
                height: 200px;
                width: 100%;
            }
            .x-axis,
            .y-axis path,
            .y-axis line {
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <select id="change-field-type">
            <option value="pending-claim">Pending Claims</option>
            <option value="appealed-claims">Appealed Claims</option>
            <option value="average-processing-time">Average Processing Time</option>
            <option value="completed-claims">Completed Claims</option>
            <option value="claims-completed-per-fte">Claims Completed Per FTE</option>
            <option value="employees-on-duty">Employees On Duty</option>
            <option value="claims-pending-at-least-one-year">Claims Pending >= One Year</option>
            <option value="claims-received">Claims Received</option>
        </select>
        <div class="container-fluid">
            <div id="put-stuff-here" class="row-fluid">
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/d3min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/raphael.js"></script>
        <script src="js/chartz.js"></script>
        <script src="js/app/va-data.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
            var buildCharts = function(chartsContainer, fieldType, cityOptions, graphOptions){
                $(chartsContainer).empty();
                var lct = _.template($("#line-chart-template").html());
                var ftc = _.template($("#field-type-container").html());
                var ftcData = {
                    'fieldType': fieldType.name
                };
                $(chartsContainer).append(ftc(ftcData));
                var itemsContainer = $("#put-chartz-here");
                var getAxis = function(container, dim){
                    var yscale = d3.scale.linear()
                        .domain([dim.minY, dim.maxY])
                        .range([dim.height + dim.top, dim.bottom]);
                    var xscale = d3.scale.linear()
                        .domain([dim.minX, dim.maxX])
                        .range([dim.left + 40, dim.width - 40])
                    var yOpts = {
                        'text': '',
                    };
                    cir.chartz.utils.getYAxis(d3.select($(container).children()[0]), yscale, yOpts);
                    var xaxis = cir.chartz.utils.getXAxis(d3.select($(container).children()[0]), xscale, $(container).height() - dim.bottom);

                };
                var cities = new VaDataCollection([], cityOptions);
                var foundCitiesCb = function(){
                    var id = 0;
                    _.each(cities.models, function(city){
                        var pendingClaimsCollection = new VaDataCollection([], fieldType);
                        var drawCharts = function(){
                            var divId = "line-chart-" + id++;
                            var templateData = {
                                'cityName': city.get('name'),
                                'divId': divId
                            };
                            var htmlInsert = lct(templateData);
                            itemsContainer.append(htmlInsert);
                            var chart = cir.chartz.lineChart("#"+divId, pendingClaimsCollection.models, graphOptions);
                            getAxis("#"+divId, chart.dimensions);
                        };
                        var opts = {
                            'city__slug': city.get("slug"),
                            'limit': 100
                        };
                        if(fieldType.options !== undefined){
                            _.each(_.keys(fieldType.options), function(key){
                                console.log(key);
                                opts[key] = fieldType.options[key];
                            });
                        }
                        pendingClaimsCollection.fetch({success: drawCharts, data:opts});
                    });
                };
                cities.fetch({success: foundCitiesCb, data:{}});
            };
            $(document).ready(function(){
                var aspireUri = 'http://glowing-sunset-5928.herokuapp.com/api/aspire/';
                var graphOptions = {
                    key: function(entry){return new Date(entry.get("report_date"));},
                    value: function(entry){return entry.get('pending_claims');},
                    strokeColor: 'white',
                    fillOpacity: .05,
                    radius: 0,
                    bottom: 30 
                };
                var fieldTypeOptions = {
                    'name': 'Pending Claims',
                    'fieldType': 'pending-claim',
                    'resourceUri': 'http://glowing-sunset-5928.herokuapp.com/api/pending-claim/'
                };
                var cityOptions = {
                    'resourceUri': 'http://glowing-sunset-5928.herokuapp.com/api/city/'
                };
                buildCharts("#put-stuff-here", fieldTypeOptions, cityOptions, graphOptions);
                $("#change-field-type").on("change", function(){
                    var graphOpts = {
                        key: function(entry){return new Date(entry.get("date"));},
                        value: function(entry){return entry.get('value');},
                        strokeColor: 'white',
                        fillOpacity: .05,
                        radius: 0,
                        bottom: 30 
                    };
                    var element = $(this);
                    var val = $(element).val();
                    fieldTypeOptions.resourceUri = aspireUri;
                    fieldTypeOptions.fieldType = val;
                    fieldTypeOptions.name = val;
                    fieldTypeOptions['options'] = {
                        'field_type__slug': val
                    };
                    buildCharts("#put-stuff-here", fieldTypeOptions, cityOptions, graphOpts);
                });
            }); 
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <script type="text/template" id="line-chart-template">
            <div class="line-chart-container">
                <h1><%= cityName %></h1>
                <div id="<%= divId %>" class="line-chart"></div>
            </div>
        </script>
        <script type="text/template" id="field-type-container">
            <div class="span2">
                <h1 id="field-type-declaration"><%= fieldType %></h1>
            </div>
            <div id="put-chartz-here" class="span10">
            </div>
        </script>
    </body>
</html>
