<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <style>
            body{
                font-family: 'Quicksand', sans-serif;
            }
            .line-chart-container{
                height: 250px;
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
            }
            .line-chart{
                height: 200px;
                width: 100%;
            }
            .x-axis,
            .y-axis path,
            .y-axis line {
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges;
            }
            .chart-details{
                text-align: center;
            }
            .details-container{
                height: 100px;
            }
            .twitter{
                display: inline;
            }
            .facebook{
                display: inline;
            }
            .deep-link{
                display: inline; 
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <select id="change-field-type">
            <option value="pending-claim">Pending Claims</option>
            <option value="appealed-claims">Appealed Claims</option>
            <option value="average-processing-time">Average Processing Time</option>
            <option value="completed-claims">Completed Claims</option>
            <option value="claims-completed-per-fte">Claims Completed Per FTE</option>
            <option value="employees-on-duty">Employees On Duty</option>
            <option value="claims-pending-at-least-one-year">Claims Pending >= One Year</option>
            <option value="claims-received">Claims Received</option>
        </select>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=132206816830554";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="container-fluid">
            <div id="put-stuff-here" class="row-fluid">
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/d3min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/raphael.js"></script>
        <script src="js/chartz.js"></script>
        <script src="js/app/va-data.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="http://platform.twitter.com/widgets.js"></script>
        <script>
            var buildCharts = function(chartsContainer, fieldType, cityOptions, graphOptions){
                window.stop();//cancel any unfinished requests
                var lct = _.template($("#line-chart-template").html());
                var ftc = _.template($("#field-type-container").html());
                $(chartsContainer).empty();
                var ftcData = {
                    'fieldType': fieldType.name
                };
                $(chartsContainer).append(ftc(ftcData));
                var formatTime = d3.time.format("%m/%d/%Y");
                var commaFormat = d3.format(",1f");
                var getAxis = function(container, dim){
                    var yscale = d3.scale.linear()
                        .domain([dim.minY, dim.maxY])
                        .range([dim.tallestY, dim.shortestY]);
                    var xscale = d3.scale.linear()
                        .domain([dim.minX, dim.maxX])
                        .range([dim.startXPos, dim.endXPos])
                    var yOpts = {
                        'text': '',
                    };
                    cir.chartz.utils.getYAxis(d3.select($(container).children()[0]), yscale, yOpts);
                    var xaxis = cir.chartz.utils.getXAxis(d3.select($(container).children()[0]), xscale, $(container).height() - dim.bottom);
                };
                var cities = new VaDataCollection([], cityOptions);
                var foundCitiesCb = function(){
                    var itemsContainer = $("#put-chartz-here");
                    var id = 0;
                    _.each(cities.models, function(city){
                        var vaDataCollection = new VaDataCollection([], fieldType);
                        //using closures to simplify code
                        var drawCharts = function(){
                            var divId = "line-chart-" + id;
                            var detailsDivId = "details-" +  id++;
                            var templateData = {
                                'cityName': city.get('name'),
                                'divId': divId,
                                'detailsDivId': detailsDivId
                            };
                            var htmlInsert = lct(templateData);
                            itemsContainer.append(htmlInsert);
                            var chart = cir.chartz.lineChart("#"+divId, vaDataCollection.models, graphOptions);
                            getAxis("#"+divId, chart.dimensions);
                            $("#"+divId).on('mouseover', function(e){
                                chart.dots.animate({
                                    'r': 3,
                                }, 50);
                            });
                            $("#"+divId).on('mouseout', function(e){
                                chart.dots.animate({
                                    'r': 0
                                }, 50);
                            });
                            var lastSelected = null;
                            chart.dots.forEach(function(b){
                                var doAction = function(dot){
                                    dot.animate({
                                        'stroke-width': '4',
                                        'stroke': 'red',
                                    }, 50);
                                    var ele = "#" + detailsDivId;
                                    var html = b.data('obj').getDetailTemplate(formatTime, commaFormat)
                                    $(ele).html(html);

                                    if(lastSelected !== null){
                                        lastSelected.animate({
                                            'stroke-width': '0',
                                            'stroke': 'black',
                                        }, 50);
                                    }
                                    lastSelected = dot;
                                };
                                b.mouseover(function(){
                                    doAction(this);
                                });
                            });
                        };
                        //set up query to ask for data type and by city
                        var opts = {
                            'city__slug': city.get("slug"),
                            'limit': 130,
                            'field_type__slug': fieldType.fieldType
                        };
                        vaDataCollection.fetch({success: drawCharts, data:opts});
                    });
                };
                //get all the cities
                cities.fetch({success: foundCitiesCb, data:cityOptions.options});
            };
            $(document).ready(function(){
                var aspireSettings = {
                    fieldTypeOptions: {
                        'name': 'Pending Claims',
                        'fieldType': 'pending-claim',
                        'resourceUri': 'http://glowing-sunset-5928.herokuapp.com/api/aspire/',
                    },
                    graphOptions: {
                        key: function(entry){return new Date(entry.get("date"));},
                        value: function(entry){return entry.get('value');},
                        strokeColor: 'white',
                        fillOpacity: .05,
                        radius: 0,
                        bottom: 50,
                        left: 50
                    }
                };
                var cityOptions = {
                    'resourceUri': 'http://glowing-sunset-5928.herokuapp.com/api/city/',
                    'options': {
                        limit: 130
                    }
                };
                var Workspace = Backbone.Router.extend({
                    routes: {
                        "": "home",
                        "city/:slug": "cityDisplay",
                        "field-type/:fieldType": "displayField",
                        "field-type/:fieldType/city/:slug": "displayCityField"
                    },
                    home: function(){
                        buildCharts("#put-stuff-here", aspireSettings.fieldTypeOptions, cityOptions, aspireSettings.graphOptions);
                    },
                    cityDisplay: function(slug){
                        cityOptions.options = {'slug': slug};
                        buildCharts("#put-stuff-here", aspireSettings.fieldTypeOptions, cityOptions, aspireSettings.graphOptions);                        
                    },
                    displayField: function(fieldType){
                        $("#change-field-type").val(fieldType);
                        aspireSettings.fieldTypeOptions.name = fieldType;
                        aspireSettings.fieldTypeOptions.fieldType = fieldType;
                        buildCharts("#put-stuff-here", aspireSettings.fieldTypeOptions, cityOptions, aspireSettings.graphOptions);
                    },
                    displayCityField: function(fieldType, slug){
                        cityOptions.options = {'slug': slug};
                        this.displayField(fieldType);
                    }
                });
                var workspace = new Workspace();
                Backbone.history.start();
                $("#change-field-type").on("change", function(){
                    var element = $(this);
                    var val = $(element).val();
                    var title = $(element).find('option:selected').text()
                    aspireSettings.fieldTypeOptions.name = title;
                    aspireSettings.fieldTypeOptions.fieldType = val;
                    buildCharts("#put-stuff-here", aspireSettings.fieldTypeOptions, cityOptions, aspireSettings.graphOptions);
                    return false;
                });
            }); 
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <script type="text/template" id="line-chart-template">
            <div class="line-chart-container">
                <div class="details-container">
                    <h1><%= cityName %></h1>
                    <div class="share">
                        <!--
                        <div class="twitter">
                            <iframe allowtransparency="true" frameborder="0" scrolling="no"
                                    src="https://platform.twitter.com/widgets/tweet_button.html"
                                    style="width:130px; height:20px;"></iframe> 
                       </div>
                        <div class="facebook">
                            <div class="fb-like" data-href="http://localhost:8000" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="lucida grande" data-action="recommend"></div>
                        </div>
                        -->
                        <div class="deep-link">
                            <a href="#">mylink</a>
                        </div>
                    </div>
                    <div id="<%= detailsDivId %>" class="chart-details">Hover or touch the line for more details</div>
                </div>
                <div id="<%= divId %>" class="line-chart"></div>
            </div>
        </script>
        <script type="text/template" id="field-type-container">
            <div class="span2">
                <h1 id="field-type-declaration"><%= fieldType %></h1>
            </div>
            <div id="put-chartz-here" class="span10">
            </div>
        </script>
    </body>
</html>
